<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DevEricServers</display-name>
  
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<servlet-class>deveric.hello.controller.HelloController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loginForm</servlet-name>
  	<servlet-class>deveric.login.controller.LoginFormController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginForm</servlet-name>
  	<url-pattern>/loginForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>logicServlet</servlet-name>
  	<servlet-class>deveric.edwith.LogicServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>logicServlet</servlet-name>
  	<url-pattern>/logicServlet</url-pattern>
  </servlet-mapping>
  
</web-app>